<!-- 
    Bottom_nav.ejs
    Name: Risav Bhaktaraj
    StudentID: 301313734
    Date: 02/08/2023 
-->
<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved.</h6>
  </nav>
</footer>